<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <!--フォロー数、フォロワー数表示-->
    <%= render 'shared/follow_followed_count' %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <h3><%= @title %> (<%= @user.following_users.count %>)</h3>
      <% if @user.following_users.any? %>
      <ol class="microposts">
        <%= render 'list', users: @users %>
        <% else %>
        <%= @message %>
      </ol>
    <% end %>
  </div>
</div>